.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container {
  display: flex;
  flex: 1;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.airport {
  display: flex;
  align-items: center;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.add {
  display: flex;
  align-items: center;
}